<!-- ESTRUCTURA DE UNA TARJETA QUE REPRESENTA LA INFORMACION GENERAL DE UN CAMPEONATO -->
<!-- CADA TARJETA MOSTRARA EL LOGO DE LAS CATEGORIAS SELECCIONADAS EN EL CAMPEONATO, LA POSICION DEL USUARION EN EL CAMPEONATO, EL NOMBRE DEL CAMPEONATO Y EL DINERO QUE TIENE EL USUARIO EN DICHO CAMPEONATO -->
<a href="">
  <section class="customCard has-text-light">
    <section class="positionLogo">
      <p class="championshipPosition">1º</p>
      <figure class="championshipLogo">
        <img
          src="https://picsum.photos/80/80"
          alt="championshipTypeLogo"
        />
      </figure>
    </section>
    <p class="championshipName">ejemplo tarjeta</p>
    <section class="currencyContainer">
      <p class="cardCurrentCurrency">1000000</p>
      <figure class="currencyIcon">
        <img src="../../assets/img/currencyIcon.png" alt="currency Icon" />
      </figure>
    </section>
  </section>
</a>
