<a href="">
  <section class="customCard has-text-light">
    <section class="positionLogo">
      <p class="championshipPosition">1º</p>
      <figure>
        <img
          class="championshipLogo"
          src="https://picsum.photos/80/80"
          alt="championshipTypeLogo"
        />
      </figure>
    </section>
    <p class="championshipName">ejemplo tarjeta</p>
    <section class="currencyContainer">
      <p class="cardCurrentCurrency">1000000</p>
      <figure>
        <img src="../../assets/img/currencyIcon.png" alt="currency Icon"/>
      </figure>
    </section>
  </section>
</a>
