<!-- COMPONENTE UTILIZADO COMO FORMULARIO DE INICIO DE SESION -->
<section id="loginSection">
  <form id="loginForm" action="" method="get">
    <label for="email">Email</label>
    <input name="email" type="text" placeholder="" />
    <label for="password">Password</label>
    <input name="password" type="password" />
    <section id="buttonSection">
      <button id="submit" class="button is-success is-dark">Sign In</button>
      <p>Don't have an account?</p>
      <a [routerLink]="['/register']" class="has-text-success">Register</a>
    </section>
  </form>
</section>
