<!-- ESTE COMPONENTE SE UTILIZA PARA TOMAR LOS DATOS DE CREACION DE UN CAMPEONATO -->
<section id="creatorSection">
  <form action="" id="creatorForm">
    <label for="name">Championship Name</label>
    <input name="name" type="text" />
    <section id="classSection">
      <!-- SE UTILIZAN ETIQUETAS label PARA GUARDAR LOS DIFERENTES DATOS -->
      <label for="competition">Championship Class</label>
      <!-- CREAMOS UN CONTENEDOR CON grid UTILIZANDO LAS CLASES QUE APORTA BULMA -->
      <div class="fixed-grid has-3-cols">
        <section class="grid">
          <!-- PARA CADA POSIBILIDAD CREAMOS UNA SECCION QUE CONTIENE EN SU INTERIOR UN radio Y UNA label, LA CUAL OCUPARA TODO EL CONTENIDO DE LA SECCION Y ACTIVARA EL RADIO CORRESPONDIENTE -->
          <section id="prototypeRad" class="cell">
            <input
            type="radio"
            name="competition"
            id="prototypes"
            value="prototypes"
            />
            <label id="protoLabel" for="prototypes"></label>
            <p>Prototypes</p>
          </section>
          <section id="roadRad" class="cell">
            <input
            type="radio"
            name="competition"
            id="roadBikes"
            value="road"
            />
            <label id="roadLabel" for="roadBikes"></label>
            <p>Road Bikes</p>
          </section>
          <section id="combinedRad" class="cell">
            <input
            type="radio"
            name="competition"
            id="combined"
            value="combined"
            />
            <label id="combinedLabel" for="combined"></label>
            <p>Combined</p>
          </section>
        </section>
      </div>
    </section>
    <!-- CREAMOS UN CAMPO NUMERICO PARA ASIGNAR EL NUMERO DE EQUIPOS PARTICIPANTES -->
    <label for="teams">Number of Teams</label>
    <input name="teams" type="number" min="1" />
    <input type="submit" value="Enter" class="button is-success is-dark">
  </form>
</section>
