<section id="registerSection">
  <form id="registerForm" action="">
    <p>Username</p>
    <input type="text" placeholder="" />
    <p>Email</p>
    <input type="text" placeholder="" />
    <p>Password</p>
    <input type="password" />
    <p>Repeat password</p>
    <input type="password" />
    <section id="buttonSection">
      <button id="submit" class="button is-success is-dark">Register</button>
      <p>if you have already an account</p>
      <a href="#" class="has-text-success">Log in</a>
    </section>
  </form>
</section>
