<!-- COMPONENTE QUE CONSISTE DE UN FORMULARIO DE REGISTRO -->
<section id="registerSection">
  <form id="registerForm" action="">
    <!-- DENTRO DEL FORMULARIO TENEMOS CAMPOS PARA INTRODUCIR LA INFORMACION DE USUARIO (username, email, password) JUNTO A UN BOTON PARA ENVIAR EL FORMULARIO Y UN LINK PARA ACCEDER AL INICIO DE SESION -->
    <label for="username">Username</label>
    <input name="username" type="text" placeholder="" />
    <label for="email">Email</label>
    <input name="email" type="text" placeholder="" />
    <label for="password">Password</label>
    <input name="password" type="password" />
    <label for="rPassword">Repeat password</label>
    <input name="rPassword" type="password" />
    <section id="buttonSection">
      <button id="submit" class="button is-success is-dark" [routerLink]="['/home']">Register</button>
      <p>if you have already an account</p>
      <a [routerLink]="['/login']" class="has-text-success">Log in</a>
    </section>
  </form>
</section>
