/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgba(34, 39, 46, 255);
  width: 100vw;
}
img {
  width: fit-content;
  height: fit-content;
}
#mainContent {
  width: 100vw;
  min-height: 80vh;
  color: hsl(0, 0%, 96%);
}