<!-- EL COMPONENTE home.html CONTIENE LA PRIMERA PAGINA QUE VE EL USUARIO, CONTIENE UNICAMENTE DOS LINKS PARA DARSE DE ALTA O INICIAR SESION -->
<main id="homeContent">
  <!-- SE UTILIZA UNA SECCION QUE CONTIENE AMBOS LINKS PARA PODER MODIFICAR LA DISTRIBUCION DE LA PAGINA DE UNA FORMA MAS SENCILLA -->
  <section id="signButtons">
    <h2 class="has-text-success">Register now to start your team</h2>
    <a [routerLink]="['/register']" class="button is-success is-outlined">Sign up</a>
    <h2 class="has-text-success">or sign in if you already have an account</h2>
    <a [routerLink]="['/login']" class="button is-success is-dark">Sign in</a>
  </section>
</main>
