#mainHeader{
    width: 100vw;
    background-color: rgba(28,33,40,255);
}
#headerSection{
    margin: auto;
    display: flex;
    width: 95%;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
}
#mainTitle{
    font-size: 3rem;
}
#logSection{
    width: 200px;
    display: flex;
    justify-content: space-around;
}
